body {
    background-color: #eeeeff;
    font-family: Consolas;
    margin: 0px;
}

.buttonPanel {
    background-color: #111115;
    color: white;
}

.titleBar {
    background-color: white;
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

.row {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.col {
    display: table-cell;
}

.invisible {
    color: transparent;
    background-color: transparent;
}