body {
    background-color: #eeeeff;
    font-family: Consolas;
    margin: 0px;
}

.buttonPanel {
    background-color: #111115;
    color: white;
}

.titleBar {
    background-color: white;
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

.row {
    padding: 4px;
    white-space: nowrap;
    overflow-x: auto;
}

.col {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
}

.invisible {
    color: transparent;
    background-color: transparent;
}

.textBox {
    width: 99%;
    height: 86vh;
}